
/* cover ivu-input textarea
   ========================================================================== */
.textarea-desc textarea.ivu-input
  font-size 12px
/* cover model for custom modal
   ========================================================================== */
.modal-wrapper .ivu-modal-body
  padding 0
.modal-wrapper .ivu-modal-content
  border-radius 3px
/* cover quill editor
   ========================================================================== */
.editor-desc .ql-container
  min-height 160px
/* cover ivu-collapse for task-group
   ========================================================================== */
.task-group .ivu-collapse
  border 0
  border-radius 0
  background-color inherit
.task-group .ivu-collapse-item
  padding-bottom 24px
  border 0
.task-group-item .ivu-collapse-header
  height 24px !important
  line-height 24px !important
  padding-left 16px !important
.task-group-item .ivu-collapse-content
  padding 2px
.task-group-item .ivu-collapse-content-box
  padding 0