
@import './variable'
@import './mixin'
.sub-sider
  background $color-background-light
  .header
    height 50px
    border-bottom 1px solid $color-light-grey
    .title
      float left
      line-height 50px
      margin 0 20px
      font-size $font-size-medium-x
      font-weight 600
    .more
      float right
      line-height 50px
      padding 0 16px
      color $color-text-light
      font-size 22px
      cursor pointer
      &:hover
        color $color-primary
  .menu
    background $color-background-light
    &:after
      width 0
.main-body
  color $color-text
  border-left 1px solid $color-light-grey
  .header
    position relative
    display flex
    align-items center
    height 50px
    margin 0
    padding 0 15px
    border-bottom 1px solid $color-light-grey
    background $color-background-light
    .title
      flex 1
      line-height 50px
      font-size $font-size-medium-x
      font-weight 600
      span
        margin-right 4px
    .panel
      padding 4px 8px
      &-item
        margin-right 8px 
      .task-filter
        width 100px
  .content
    display flex
    flex-direction column
    margin $spacing-medium
    .filter-container
      padding-bottom 16px
.list-empty
  padding 16px
  text-align center
  font-size 14px
.task-list
  flex auto
  padding 10px 0
  background $color-background-light
.task-item
  padding-bottom 2px
  cursor pointer
.task-item-wrapper
  padding 0 20px
.task-item-body
  position relative
  display flex
  align-items center
  // padding 16px 0
  &:after
    setBottomLine(#eee)
.task-item-title
  flex 1
  width 0
  padding 16px 16px 16px 0
  color $color-text
  white-space nowrap
  text-overflow ellipsis
  overflow hidden
.task-item-meta
  flex-shrink 0
  font-size 12px
  color $color-grey
  &-label
    padding 2px 6px
.task-quick-add
  flex-shrink 0
  position relative
  display flex
  margin-bottom 10px
  padding 5px 16px
  border-radius 2px
  background $color-background-light
  .title
    flex 1
    display block
    width 100%
    height 40px
    padding-right 16px
    line-height 40px
    font-size 14px
    color $color-text-light
    border none
    outline none
    overflow hidden
  .meta
    flex-shrink 0
    display flex
    align-items center
    font-size 14px
    &-item
      width 108px
      margin-right 8px
.task-detail
  position relative
  display flex
  flex auto
  padding 10px 0
  background $color-background-light
  &-main
    flex 1
    height 100%
  &-sider
    width 150px
    margin 0 32px
    padding-top 56px
    &-item
      margin-bottom 12px
      .item-dropdown
        width 150px
      .item-wrapper
        cursor pointer
      .item-header
        padding-bottom 6px
  &-header
    position relative
    display flex
    padding 16px
    .title
      flex 1
      width 0
      font-size 16px
      color $color-text
  &-content
    margin 0 16px
    padding-left 24px
    border-bottom 1px solid $color-light-grey
  &-info
    align-items center
    .info-item
      display inline-block
      color $color-grey
      &-label
        padding 2px 6px
  &-desc
    padding 16px 0
    font-size 14px
  &-events
    padding 16px
  &-event-item
    display flex
    align-items center
    padding 8px 16px
    .event-icon
      width 64px
      text-align center
    .event-text
      padding-right 8px
      color $color-grey
  &-comments
    padding 0 16px 16px
  &-comment-item
    display flex
    padding 16px
    .comment-icon
      width 64px
      text-align center
      cursor pointer
    .comment-box
      flex 1
      padding 8px
      border-radius 4px
      background #eee
    .comment-meta
      padding-top 0
      span
        padding-right 8px
    .comment-content
      padding-top 8px
      font-size 14px
  .editor-wrapper
    margin 16px 32px 100px
    border-radius 4px
    border 1px solid $color-light-grey
    .editor
      position relative
      padding 8px 16px
      border-radius 4px
      background #fff
      overflow auto
      z-index 1
      &-textarea
        display block
        line-height 1.6
        width 100%
        background #fff
        border-style none
        resize none
        outline 0
        font-size 14px
        word-wrap break-word
        overflow hidden
    .toolbar
      height 30px
      background rgb(246, 246, 246)
      border-top 1px solid rgb(238, 238, 238)
      .editor-submit
        float right
        height 30px
        padding 8px
        cursor pointer
.task-done
  color $color-grey
  text-decoration line-through
.task-expired
  color #d45d51
  background #fbdbdb
.task-level
  padding 2px 6px
.level-icon-on
  color #ed3f14
.level-icon-off
  color #ccc
.team-table
  padding 0
  .team-cell-user-name
    padding-right 8px
    font-size 16px
  .team-cell-user-role
    font-size 10px
    color $color-grey