
@import './variable'
@import './mixin'

/* main
   ========================================================================== */
.sub-sider
  background $color-background-light
  .header
    height 50px
    border-bottom 1px solid $color-divider
    .title
      float left
      line-height 50px
      margin 0 20px
      font-size $font-size-medium-x
      font-weight 600
    .more
      float right
      line-height 50px
      padding 0 16px
      color $color-text-light
      font-size 22px
      cursor pointer
      &:hover
        color $color-primary
  .sub-header
    height 40px
    min-height 40px
    .title
      float left
      line-height 40px
      margin 0 20px
      color $color-grey
      font-size $font-size-medium
    .more
      float right
      line-height 40px
      padding 0 16px
      color $color-text-light
      font-size 20px
      cursor pointer
  .menu
    background $color-background-light
    &:after
      width 0
  &-item
    display flex
    align-items center
    height 40px
    min-height 40px
    padding 0 24px
    color $color-grey
    cursor pointer
    &:hover
      background $color-background-hover
    .title
      flex 1
      font-size $font-size-medium
.main-body
  color $color-text
  border-left 1px solid $color-divider
  .header
    position relative
    display flex
    align-items center
    height 50px
    min-height 50px
    margin 0
    padding 0 15px
    border-bottom 1px solid $color-divider
    background $color-background-light
    .title
      flex 1
      line-height 50px
      font-size $font-size-medium-x
      font-weight 600
      span
        margin-right 4px
    .panel
      display flex
      align-items center
      padding 4px 8px
      &-item
        width 100px
        margin-right 8px
  .content
    display flex
    flex-direction column
    margin $spacing-medium
    .filter-container
      padding-bottom 16px
.list-empty
  padding 16px
  text-align center
  font-size $font-size-medium
/* task list
   ========================================================================== */
.task-list
  flex auto
  padding 10px 0
  background $color-background-light
.task-item
  padding-bottom 2px
  cursor pointer
.task-item-wrapper
  padding 0 20px
.task-item-body
  position relative
  display flex
  align-items center
  // padding 16px 0
  &:after
    setBottomLine()
.task-item-title
  flex 1
  width 0
  padding 16px 16px 16px 0
  color $color-text
  white-space nowrap
  text-overflow ellipsis
  overflow hidden
.task-item-meta
  flex-shrink 0
  font-size $font-size-small
  color $color-grey
  &-label
    padding 2px 6px
.task-quick-add
  flex-shrink 0
  position relative
  display flex
  margin-bottom 10px
  padding 5px 16px
  border-radius 2px
  background $color-background-light
  .title
    flex 1
    display block
    width 100%
    height 40px
    padding-right 16px
    line-height 40px
    font-size $font-size-medium
    color $color-text-light
    border none
    outline none
    overflow hidden
  .meta
    flex-shrink 0
    display flex
    align-items center
    font-size $font-size-medium
    &-item
      width 108px
/* task etc
   ========================================================================== */
.task-done
  color $color-grey
  text-decoration line-through
.task-expired
  color #d45d51
  background #fbdbdb
.task-level
  padding 2px 8px
  color $color-grey
.level-icon-on
  color $color-error
.level-icon-off
  color #ccc
/* team
   ========================================================================== */
.team-table
  padding 0
  .team-cell-user-name
    padding-right 8px
    font-size $font-size-medium-x
  .team-cell-user-role
    font-size 10px
    color $color-grey
/* stats
   ========================================================================== */
.card-header
  display flex
  padding 0
  &-meta
    display flex
    align-items center
    flex-shrink 0
    padding-right 8px
    font-size $font-size-small
  &-title
    display flex
    align-items center
    flex 1
    span
      padding-left 8px
      border-left 3px solid $color-primary
.card-body
  display flex
  padding 16px
.flex-cell
  display flex
  align-items center
  justify-content space-around
  flex auto
  width 0
/* color box
   ========================================================================== */
.color-box
  position relative
  height 24px
  line-height 0
.color-item
  position relative
  display inline-block
  width 24px
  height 24px
  margin 0 4px 4px 0
  cursor pointer
  &:hover
    outline #fff solid 2px
    box-shadow 0 0 5px 2px rgba(0, 0, 0, 0.25)
    z-index 1
.color-item-selected
  outline #fff solid 2px
  box-shadow 0 0 5px 2px rgba(0, 0, 0, 0.25)
  z-index 1
/* select item
   ========================================================================== */
.select-item-flex
  display flex
  align-items center
.select-item-color-cell
  display inline-block
  width 12px
  height 12px
  border-radius 3px